---
import SocialIcons from "../socialIcons/socialIcons.jsx";
---

<footer class="bg-gray-950 text-white">
  <div
    class="container mx-auto flex flex-col items-center justify-between px-6 py-12 lg:flex-row lg:px-20"
  >
    <!-- Logo -->
    <a href={import.meta.env.BASE_URL} class="flex items-center">
      <h3
        class="text-[#69c7c7] text-4xl font-bold drop-shadow-[1.5px_1.5px_0_#7836cf]"
      >
        VR
      </h3>
    </a>

    <!-- Navigation Links -->
    <nav class="mb-4 lg:mb-0">
      <ul
        class="flex flex-col items-center space-y-2 text-gray-400 lg:flex-row lg:items-start lg:space-y-0 lg:space-x-6"
      >
        <li>
          <a
            href={import.meta.env.BASE_URL}
            class="hover:text-[#552496] font-semibold"
          >
            Home
          </a>
        </li>

        <li>
          <a
            href={`${import.meta.env.BASE_URL}proyectos`}
            class="hover:text-[#552496] font-semibold"
          >
            Projects
          </a>
        </li>

        <li>
          <a
            href={`${import.meta.env.BASE_URL}about`}
            class="hover:text-[#552496] font-semibold"
          >
            About
          </a>
        </li>

        <li>
          <a
            href={`${import.meta.env.BASE_URL}contact`}
            class="hover:text-[#552496] font-semibold"
          >
            Contact
          </a>
        </li>
      </ul>
    </nav>

    <!-- Social Media Links -->
    <div class="flex space-x-4">
      <SocialIcons client:visible />
    </div>
  </div>

  <div
    class="w-full border-t border-gray-600 py-10 text-center text-sm text-gray-500"
  >
    © 2026 Vishal Rawal. All Rights Reserved.
  </div>
</footer>